<h3>名簿編集</h3>

<%= form_tag("/rosters/"+@roster.id.to_s, {method: :patch}) do %>
    <div class="form-group">
        <%= label_tag "form-name", "氏名" %>
        <div class="form-inline">
            <%= text_field :rosters, :last_name, id:"form-name", class:"form-control" ,placeholder:"姓", value: @roster.last_name %>
            <%= text_field :rosters, :first_name, id:"form-name", class:"form-control" ,placeholder:"名", value: @roster.first_name %>
        </div>
        <%= label_tag "form-furigana", "ふりがな" %>
        <div class="form-inline">
            <%= text_field :rosters, :last_furigana, id:"form-furigana", class:"form-control" ,placeholder:"せい", value: @roster.last_furigana %>
            <%= text_field :rosters, :first_furigana, id:"form-furigana", class:"form-control" ,placeholder:"めい", value: @roster.first_furigana %>
        </div>
    </div>
    <div class="form-group">
        <%= radio_button_tag :gender, "男", @roster.gender == "男" %>
        <%= label_tag :gender, "男" %>
        <%= radio_button_tag :gender, "女", @roster.gender == "女" %>
        <%= label_tag :gender, "女" %>
    </div>
    <div class="form-group">
        <%= label_tag "form-birthday", "生年月日" %>
        <%= date_field :rosters, :birthday, id:"form-birthday", class:"form-control", value: @roster.birthday %>
    </div>
    <div class="form-group">
        <%= label_tag "form-email", "メールアドレス" %>
        <%= email_field :rosters, :email, id:"form-email", class:"form-control", placeholder: "メールアドレス", value: @roster.email %>
    </div>
    <div class="form-group">
        <%= radio_button_tag :attendance, "出席", @roster.attendance == "出席" %>
        <%= label_tag :attendance,"出席" %>
        <%= radio_button_tag :attendance, "欠席", @roster.attendance == "欠席" %>
        <%= label_tag :attendance,"欠席" %>
        <%= radio_button_tag :attendance, "遅刻", @roster.attendance == "遅刻" %>
        <%= label_tag :attendance,"遅刻" %>
        <%= radio_button_tag :attendance, "早退", @roster.attendance == "早退" %>
        <%= label_tag :attendance,"早退" %>
        <%= radio_button_tag :attendance, "その他", @roster.attendance == "その他" %>
        <%= label_tag :attendance,"その他" %>
    </div>
    <div class="form-group">
        <%= text_area_tag :remarks, @roster.remarks, class:"form-control", placeholder:"備考欄" %>
    </div>
    <%= submit_tag "更新", class:"btn btn-primary" %>or<a class="btn btn-danger" href="/rosters/<%= @roster.id %>" role="button" data-method="delete">削除</a>
<% end %>

<%= link_to :back do %>
    <button class="btn btn-primary">詳細に戻る</button>
<% end %>