<h2>名簿一覧</h2>
<p><%= Date.today.strftime("%Y年%m月%d日") %></p>

<%= search_form_for @q, url:{controller:"rosters", action:"index"} do |f| %>
    <%= f.search_field :first_name_or_last_name_or_first_furigana_or_last_furigana_cont, placeholder:"氏名・ふりがな" %>
    <%= f.select :gender_eq, ['男', '女'], {include_blank:'性別'} %>
    <%= f.number_field :age_eq, min:0, placeholder:"年齢" %>
    <!--%= f.select :category_id_eq, options_from_collection_for_select(@categories, :id, :name), {include_blank:'カテゴリ'} %>-->
    <%= f.select :attendance_eq, ['未入力', '出席', '欠席', '遅刻', '早退', 'その他'], {include_blank:'出欠等'} %>
    <%= f.submit '検索', class:"btn btn-primary" %>
<% end %>

<p>氏名・性別・年齢・出欠等状況をクリックすると並べ替えができます（昇順・降順）</p>

<table class="table table-bordered">
    <tr>
        <!-- sort_link...ransackのソート機能 -->
        <th><%= sort_link(@q, :last_furigana, "氏名") %></th>
        <th>ふりがな</th>
        <th><%= sort_link(@q, :gender, "性別") %></th>
        <th><%= sort_link(@q, :age, "年齢") %></th>
        <th>カテゴリ</th>
        <th><%= sort_link(@q, :attendance, "出欠等") %></th>
        <th>詳細</th>
    </tr>
    <% @rosters.each do |roster| %>
    <tr>
        <td><%= roster.last_name %> <%= roster.first_name %></td>
        <td><%= roster.last_furigana %> <%= roster.first_furigana %></td>
        <td><%= roster.gender %></td>
        <td><%= roster.age %></td>
        <td><%= roster.category.name %></td>
        <td><%= roster.attendance %></td>
        <td><%= link_to "詳細", "/rosters/"+ roster.id.to_s + "/show" %></td>
    </tr>
    <% end %>
</table>

<%= paginate @rosters %>