<h3>名簿一覧</h3>
<p><%= Date.today.strftime("%Y年%m月%d日") %></p>

<%= search_form_for @q, url:{controller:"rosters", action:"index"} do |f| %>
  <%= f.search_field :first_name_or_last_name_or_first_furigana_or_last_furigana_cont, placeholder:"氏名・ふりがな" %>
  
  <%= f.radio_button :gender_eq, "", {:checked => true} %>
  <%= f.label :gender, "指定なし" %>
  <%= f.radio_button :gender_eq, "男" %>
  <%= f.label :gender, "男" %>
  <%= f.radio_button :gender_eq, "女" %>
  <%= f.label :gender, "女" %>
  
  <%= f.number_field :age_eq, min:0, placeholder:"年齢" %>
  
  <%= f.radio_button :attendance_eq, "", {:checked => true} %>
  <%= f.label :attendance, "指定なし" %>
  <%= f.radio_button :attendance_eq, "出席" %>
  <%= f.label :attendance, "出席" %>
  <%= f.radio_button :attendance_eq, "欠席" %>
  <%= f.label :attendance, "欠席" %>
  <%= f.radio_button :attendance_eq, "遅刻" %>
  <%= f.label :attendance, "遅刻" %>
  <%= f.radio_button :attendance_eq, "早退" %>
  <%= f.label :attendance, "早退" %>
  <%= f.radio_button :attendance_eq, "その他" %>
  <%= f.label :attendance, "その他" %>
  
  <%= f.submit '検索', class:"btn btn-primary" %>
<% end %>

<table class="table table-bordered">
    <tr>
        <!-- sort_link...ransackのソート機能 -->
        <th><%= sort_link(@q, :last_furigana, "氏名") %></th><th>ふりがな</th><th><%= sort_link(@q, :gender, "性別") %></th><th><%= sort_link(@q, :age, "年齢") %></th><th><%= sort_link(@q, :attendance, "出欠等") %></th><th>詳細</th>
    </tr>
    <% @rosters.each do |roster| %>
    <tr>
        <td><%= roster.last_name %> <%= roster.first_name %></td>
        <td><%= roster.last_furigana %> <%= roster.first_furigana %></td>
        <td><%= roster.gender %></td>
        <td><%= roster.age %></td>
        <td><%= roster.attendance %></td>
        <td><a href="/rosters/<%= roster.id %>/show">詳細</a></td>
    </tr>
    <% end %>
</table>