<h3>名簿作成</h3>

<!--undefined method `errors' for nil:NilClass-->
<!--% if @roster.errors.any? %-->

<!--余裕あればform_withに-->
<%= form_tag("/rosters/create") do %>

    <!--<div class="form-group">-->
    <!--    %= label_tag "form-image", "画像をアップロード" %><br>%= file_field :rosters, :image, id:"form-image" %>-->
    <!--</div>-->
    <div class="form-group">
        <%= label_tag "form-name", "氏名" %>
        <div class="form-inline">
            <%= text_field :rosters, :last_name, id:"form-name", class:"form-control" ,placeholder:"姓" %>
            <%= text_field :rosters, :first_name, id:"form-name", class:"form-control" ,placeholder:"名" %>
        </div>
        <%= label_tag "form-furigana", "ふりがな" %>
        <div class="form-inline">
            <%= text_field :rosters, :last_furigana, id:"form-furigana", class:"form-control" ,placeholder:"せい" %>
            <%= text_field :rosters, :first_furigana, id:"form-furigana", class:"form-control" ,placeholder:"めい" %>
        </div>
    </div>
    <div class="form-group">
        <%= radio_button_tag :gender, "男" %>
        <%= label_tag :gender, "男" %>
        <%= radio_button_tag :gender, "女" %>
        <%= label_tag :gender, "女" %>
    </div>
    <div class="form-group">
        <%= label_tag "form-birthday", "生年月日" %>
        <%= date_field :rosters, :birthday, id:"form-birthday", class:"form-control" %>
    </div>
    <div class="form-group">
        <%= label_tag "form-email", "メールアドレス" %>
        <%= email_field :rosters, :email, id:"form-email", class:"form-control" ,placeholder:"メールアドレス" %>
    </div>
    <%= submit_tag "作成", class:"btn btn-primary" %>
    or
    <%= link_to "一覧に戻る", "/rosters", class:"btn btn-primary" %>
<% end %>