<h2>名簿詳細</h2>

<!--% if @roster.image? %>-->
<!--    %= image_tag @roster.image.url %>-->
<!--% else %>-->
<!--    %= image_tag "no_image.gif" %>-->
<!--% end %>-->
<h1><ruby><%= @roster.last_name %><rt><%= @roster.last_furigana %></rt>&nbsp;<%= @roster.first_name %><rt><%= @roster.first_furigana %></rt></ruby></h1>
<p>性別：<%= @roster.gender %></p>
<p>年齢：<%= @roster.age %>歳</p>
<p>生年月日：<%= @roster.birthday.strftime("%Y年%m月%d日") %></p>
<p>カテゴリ：<%= @roster.category.name %></p>
<p>メールアドレス：<%= @roster.email %></p>
<p>出欠等：<%= @roster.attendance %></p>
<p>備考：<%= @roster.remarks %></p>

<%= link_to "編集", "/rosters/"+@roster.id.to_s+"/edit", class:"btn btn-primary" %>
or
<%= link_to "一覧に戻る", "/rosters", class:"btn btn-default" %>