<h3>詳細</h3>

<table class="table table-bordered">
    <tr>
        <th>氏名</th><th>ふりがな</th><th>性別</th><th>年齢</th><th>生年月日</th><th>メールアドレス</th><th>出欠等状況</th><th>備考</th><th>編集</th>
    </tr>
    <tr>
        <td><%= @roster.last_name %> <%= @roster.first_name %></td>
        <td><%= @roster.last_furigana %> <%= @roster.first_furigana %></td>
        <td><%= @roster.gender %></td>
        <td><%= @roster.age %></td>
        <td><%= @roster.birthday.strftime("%Y年%m月%d日") %></td>
        <td><%= @roster.email %></td>
        <td><%= @roster.attendance %></td>
        <td><%= @roster.remarks %></td>
        <td><a href="/rosters/<%= @roster.id %>/edit">編集</a></td>
    </tr>
</table>

<%= link_to "一覧に戻る", "/", class:"btn btn-primary" %>