<!DOCTYPE html>
<html>
  <head>
    <title>名簿管理システム</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "名簿管理システム", "/rosters", class:"navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "名簿作成", "/rosters/new" %></li>
            <li><%= link_to "カテゴリ設定", "/categories" %></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <!--<li class="navbar-text">こんにちは、%= current_user.username %>さん</li>-->
              <li><%= link_to "アカウント情報", edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "アカウント登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>