<html>
  <head>
    <title>名簿管理システム</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="container">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <!--%= bootstrap_flash %>-->
    <%= yield %>
  </body>
</html>